<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>HelloServlet</servlet-name>
        <description>Servlet de test Hello</description>
        <servlet-class>td.servlet.Hello</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloServlet</servlet-name>
        <url-pattern>/Hello</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HelloServlet</servlet-name>
        <url-pattern>/Hello/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>HelloConfigServlet</servlet-name>
        <description>Servlet de test Hello</description>
        <servlet-class>td.servlet.HelloConfig</servlet-class>
        <init-param>
            <param-name>lang</param-name>
            <param-value>en</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloConfigServlet</servlet-name>
        <url-pattern>/HelloConfig</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>HelloParamServlet</servlet-name>
        <description>Servlet de test Hello</description>
        <servlet-class>td.servlet.HelloParam</servlet-class>
        <init-param>
            <param-name>lang</param-name>
            <param-value>en</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloParamServlet</servlet-name>
        <url-pattern>/HelloParam</url-pattern>
    </servlet-mapping>
</web-app>
